.period-selector-container {
  width: 100%;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.period-selector-list {
  max-height: 300px;
  overflow-y: auto;
}

.month-list {
  padding-left: 20px;
}

/* Estilo para o checkbox */
ion-checkbox {
  --border-radius: 4px;
  --size: 18px;
}

/* Estilo para o item da lista */
ion-item {
  --padding-start: 0;
}

/* Estilo para o accordion */
ion-accordion {
  border-bottom: 1px solid var(--ion-color-light);
}

/* Remove a borda do último item de cada grupo */
ion-accordion:last-child {
  border-bottom: none;
}
